body
{
text-align:center;
width:100%;
margin:0 auto;
padding:0px;
font-family:verdana;
background-color:#cccccc;
background: url(../img/fondo_head.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
background-size: cover;
border:1px solid black;
}

#paginacion{
    left: 800px;
}

#section{
    left: 20%;
}